:root {
  /* ## Colors */

  /* ### Neutral */

  --neutral-900: 243 96% 9%;
  --neutral-800: 243 27% 20%;
  --neutral-700: 243 23% 24%;
  --neutral-600: 243 23% 30%;
  --neutral-300: 240 6% 70%;
  --neutral-200: 250 6% 84%;
  --neutral-0: 0 0% 100%;

  /* ### Orange */

  --orange-500: 28 100% 52%;

  /* ### Blue */

  --blue-500: 233 67% 56%;
  --blue-700: 248 70% 36%;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url(assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "DM Sans";
  src: url(assets/fonts/DM_Sans/DMSans-VariableFont.ttf);
  font-weight: 300, 500, 600, 700;
}
@font-face {
  font-family: "DM Sans i";
  src: url(assets/fonts/DM_Sans/DMSans-Italic.ttf);
}

body {
  font-family: 'DM Sans';
  font-weight: 300;
  display: grid;
  place-content: center;
  font-size: 18px;
  font-family: "DM Sans";
  color: hsl(var(--neutral-0));
  font-weight: 300;
  background-color: hsl(var(--neutral-900));
}
.container {
  display: grid;
  gap: 1rem;
  padding-inline: 1rem;
  place-items: center;
  max-width: 365px;
  @media ( width > 600px) {
    max-width: 100%;
    grid-template-columns: 1fr 1fr 300px;
    grid-template-rows: 1fr 1fr 1fr;
  }
  /* max-width: px; */
}
.weather__top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media ( width > 600px) {
    grid-column: 1/-1;

  }
}
.weather__top-bar img {
  max-width: 35vw;
}
.weather-heading {
  grid-column: 1/-1;
  font-size: 3.5rem;
  line-height: 1.2;
  text-align: center;
}
.weather__search {
  grid-column: 1/-1;
  display: grid;
  width: 100%;
  /* min-width: 0%; */
  gap: 0.8rem;
  margin-bottom: 1rem;
  @media (width > 600px) {
    display: flex;
    /* max-width: 80%; */
    gap: 4rem;
    justify-content: space-between;
  }
}
.search-button {
  color: hsl(var(--neutral-200));
  font-size: 1.4rem;
  background-color: hsl(var(--blue-500));
  padding-inline: 3rem;
  padding-block: 0.8rem;
  border: 0;
  border-radius: 0.7rem;
  cursor: pointer;
}
.weather__search input {
  font-size: 1.2rem;
  color: hsl(var(--neutral-0));
  padding-block: 1rem;
  padding-inline-start: 3.4rem;
  background-color: hsl(var(--neutral-700));
  background-image: url(/assets/images/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 1.2rem center;
  background-size: 1em;
  border: 0;
  border-radius: 0.5rem;
  flex-grow: 1;
}
.weather__search input::placeholder {
  color: hsl(var(--neutral-200));
}
.weather__hero {
  display: grid;
  height: 100%;
  width: 100%;
  gap: 2rem;
  /* width: 100%; */
  justify-content: center;
  align-content: center;
  background-image: url(assets/images/bg-today-small.svg);
  background-repeat: no-repeat;
   @media ( width > 600px) {
    grid-column: 1/3;
    grid-row: 4 / 5;
    background-image: url(assets/images/bg-today-large.svg);
    background-size: contain;
    /* height: 600pz; */

  }
}
.weather__hero-temp {
  display: flex;
  align-items: center;
}
.weather-icon img {
  width: 80px;
}
.weather-temp {
  font-size: 4rem;
}

.weather__dropdown-button {
  display: flex;
  position: relative;
  color: hsl(var(--neutral-0));
  background-color: hsl(var(--neutral-600));
  padding: 0.1rem 1.6rem;
  margin-right: 2rem;
}
.weather__dropdown-button::before {
  position: absolute;
  content: "";
  left: 4px;
  width: 16px;
  height: 16px;
  background-image: url(assets/images/icon-units.svg);
  background-repeat: no-repeat;
  background-size: 13px;
}
.weather__dropdown-button::after {
  position: absolute;
  content: "";
  top: 5px;
  right: 4px;
  width: 16px;
  height: 16px;
  background-image: url(assets/images/icon-dropdown.svg);
  background-repeat: no-repeat;
  background-size: 13px;
}
.weather__dropdown-content {
  position: absolute;
  right: 0;
  display: grid;
  gap: 0.2rem;
  background-color: hsl(var(--neutral-700));
  padding: 1rem;
  margin-top: 0.5rem;
  min-width: 200px;
}
.switchImperial {
  color: hsl(var(--neutral-0));
  background-color: hsl(var(--neutral-700));
  text-align: left;
  border: 0;
}
div[aria-selected="true"] {
  /*  */
  position: relative;
  background-color: hsl(var(--neutral-600));
}
div[aria-selected="true"]:after {
  position: absolute;
  content: "";
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url(assets/images/icon-checkmark.svg);
  background-repeat: no-repeat;
  background-size: 15px;
}
.weather__dropdown-headings {
  color: hsl(var(--neutral-200));
}

/* Current Weather */
.weather__current {
  width: 100%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
   @media ( width > 600px) {
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.weather__current-panel {
  display: grid;
  gap: 1rem;
  background-color: hsl(var(--neutral-700));
  padding: 0.5rem 0.5rem;
  border-radius: 0.4rem;
}
.weather__daily-forecast {
  width: 100%;
  @media (width > 600px) {
    grid-column: 1/3;
  }
    
}
.weather__daily-forecast h3 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;

}
.weather__daily-forecast-list {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  @media (width > 600px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
  }
}
.weather__daily-forecast-item {
  display: grid;
  font-size: 0.9rem;
  font-weight: 300;
  gap: 0.5rem;
  align-content: space-around;
  justify-items: center;
  padding: 0.5rem;
  background-color: hsl(var(--neutral-600));
  border-radius: 0.5rem;
}
.weather__daily-forecast-item img {
  width: 50px;
}
.weather__daily-forecast-temps {
  display: flex;
  gap: 0.5rem;
}
.weather__hourly-forecast {
  width: 100%;
  @media (width > 1000px) {
    grid-column: 3 / -1 ;
    grid-row: 4 / 7 ;
  }
 
}
.weather__hourly-forecast-list {
  display: grid;
  gap: 1rem;
}
.weather__hourly-forecast-item {
  background-color: hsl(var(--neutral-600));
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  justify-content: space-between;
  border-radius: 0.5rem;
}
.weather__hourly-forecast-time {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.weather__hourly-forecast-item img {
  width: 50px;
}

/*  attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 14%, 86%);
}
.hidden {
  display: none;
}
